#box-gif {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
}

#box-gif img {
  width: 100%;
  align-self: stretch;
}

@media (max-width: 768px) {
  #box-gif {
    grid-template-columns: 1fr;
  }
}
